
body {margin:0;}

ul {
  list-style-type: none;
  margin-bottom: 200;
  padding: 10px;
  overflow: hidden;
  background-color: #333;
  
  
  width: 100%;
}

li {
  float: left;
}

li a {
  
  color: white;
  padding: 14px 18px;
  text-align: center;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #333;
}

h1{
    padding-left:  600px;
}

.footer {
    position: relative;
    left: 0;
    bottom:0;
    width: 100%;
    background-color:rgb(26, 24, 24);
    color: white;
    text-align: center;
 }
 
 .fa {
   padding: 5px;
   
   font-size: 30px;
   width: 50px;
   text-align: center;
   text-decoration: none;
   margin: 2px 2px;
   margin-bottom:2px;
 }
 
 .fa:hover {
     opacity: 0.9;
 }
 
 
 .fa-linkedin {
   background: #007bb5;
   color: white;
 }
 .fa-facebook {
   background: #3B5998;
   color: white;
 }
 
 .fa-instagram {
   background: #125688;
   color: white;
 }
 #employeeInformation{
  -ms-flex: 1;  /* IE 10 */  
  flex: 1;
 }
 